<h3>{{ leyenda }} - {{ porcentaje }}</h3>
<div class="input-group">
  <span class="input-group-btn">
    <button class="btn btn-primary" type="button" (click)="cambiarValor(-5)">
      <i class="mdi mdi-minus"></i>
    </button>
  </span>
    <input #txtProgress type="number" min="0" max="100" class="form-control" name="porcentaje" (ngModelChange)="onChange($event)" [(ngModel)]="porcentaje">
  <span class="input-group-btn">
      <button class="btn btn-primary" type="button" (click)="cambiarValor(+5)">
          <i class="mdi mdi-plus"></i>
      </button>
  </span>
</div>